* {
    padding: 0;
    margin: 0;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: rgb(19, 58, 158);
}

nav a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    float: left;
}

nav a:hover {
    background: black;
}


.header {
    padding: 60px;
    text-align: center;
    background: #2697e2;
    color: white;
    font-size: 30px;
}

.container {
    width: initial;
}

.left {
    width: 30%;
    float: left;
    margin: 45vh 0;
    text-align: center;
}

.right {
    width: 70%;
    float: left;
}



.contact-section {
    position: absolute;
    max-height: 40%;
    width: 100%;
}

.card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 980px;
    margin: 50px auto;
}

.card-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
    border-radius: 5px;
    margin: 10px auto;
    background-color: white;
}

.card-content {
    padding: 15px 16px;
    font-size: 0.92em;
    text-shadow: 0 0 1px transparent;
    line-height: 22px;
}

.card-content h2 {
    text-align: center;
}

.card-content p {
    text-align: center;
}

@media screen and (max-width: 868px) {
    .card-container {
        width: 40%;
    }
}

@media screen and (max-width: 690px) {
    .card-container {
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    .card-container {
        width: 80%;
    }
}




.gallery {
    display: grid;
    grid-template: repeat(7, 5vw)/repeat(8, 1fr);
    grid-gap: 1rem;
    padding: 1.2rem;
}

.gallery__item {
    margin: 0;
    overflow: hidden;
    position: relative;
}

.gallery_item_1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}

.gallery_item_2 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 3;
}

.gallery_item_3 {
    grid-row: 1 / span 2;
    grid-column: 6 / 7;
}

.gallery_item_4 {
    grid-row: 1 / span 2;
    grid-column: 7 / -1;
}

.gallery_item_5 {
    grid-row: 3 / span 3;
    grid-column: 1 / span 2;
}

.gallery_item_6 {
    grid-row: 4 / span 2;
    grid-column: 3 / span 2;
}

.gallery_item_7 {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
}

.gallery_item_8 {
    grid-row: 3 / span 2;
    grid-column: 6 / span 2;
}

.gallery_item_9 {
    grid-row: 3 / span 3;
    grid-column: 8 / -1;
}

.gallery_item_10 {
    grid-row: 6 / span 2;
    grid-column: 1 / 2;
}

.gallery_item_11 {
    grid-row: 6 / span 2;
    grid-column: 2 / span 2;
}

.gallery_item_12 {
    grid-row: 6 / span 2;
    grid-column: 4 / 5;
}

.gallery_item_13 {
    grid-row: 5 / span 3;
    grid-column: 5 / span 3;
}

.gallery_item_14 {
    grid-row: 6 / span 2;
    grid-column: 8 / -1;
}

.gallery__img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #2a3b4188;
}

.gallery__item:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}




.reg-form {
    padding: 5% 0;
    height: inherit;
}

form {
    max-width: 450px;
    margin: 0 auto;
}

form > div {
    margin-top: 5px;
    position: relative;
    background: white;
}

form > div > input[type="text"],
form > div > input[type="email"],
form > div > input[type="password"],
form > div > input[type="tel"],
form > div > select,
textarea {
    width: 100%;
    border: 0;
    padding: 20px 20px 20px 60px;
    background: #F0ECEC;
}

form input[type="submit"] {
    display: block;
    width: 100%;
    margin: 20px 0;
    background: #2697e2;
    color: white;
    border: 0;
    padding: 20px;
    font-size: 1.2rem;
}
